<?xml version="1.0"?>
<launch>
    <arg name="mqtt_port" default="$(optenv MQTT_PORT 1883)"/>
    <arg name="mqtt_host" default="$(optenv MQTT_HOST localhost)" />

    <node pkg="bridge_routes" type="bridge_routes_node" name="bridge_rotues_node" output="screen">
        <param name="mqtt_port" value="$(arg mqtt_port)"/>
        <param name="mqtt_host" value="$(arg mqtt_host)"/>
        <rosparam command="load" file="$(find bridge_routes)/config/device_code.yaml"/>
    </node>
</launch>